version: '3'

services:
  backend_spring:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8089:8089
    depends_on:
      - mysqldb
    volumes:
      - ./backend_spring_data:/app/data
  mysqldb:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=stationSki
    ports:
      - 3307:3307
    volumes:
      - db:/var/lib/mysql
volumes:
  db:
